/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}

header{
    height:100px ;
    background-color: #e579e6;
    margin: 20px 0;
}

.image{
    height: 350px;
    background-color: #e1d67a;
    margin: 20px 0;
}

main{
    width: 1080px;
    height: 500px;
    background-color:#abcfe7;
    position: relative;
    margin-bottom: 20px;
}
.sidebar, .center-main{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    background-color:#abcfe7;
    float: left;
    
}
.sidebar{
    width: 25%;
}
.center-main{
   width: calc(50% - 40px);
   margin-right: 20px;
   margin-left:20px;
}


footer{
    height: 40px;
    background-color:#8b00ff;
    margin-bottom: 20px;
}
.clearfix{
    background-color: #0087ff;
    width: 1080px;
    position: absolute;
    bottom: 0;
    
}
.clearfix::after{
  
    clear: both;
    content: '';
    display: table;
}
