/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}
/* header */
#main-header{
    min-height: 100px ;
    background-color: #e579e6;
    margin: 20px 0;
}
/* Spotlight */

.spotlight{
    min-height: 350px;
    background-color: #e1d67a;
    margin: 20px 0;
}
/* main */
main{
    width: 1080px; 
    position: relative;
    margin-bottom: 20px;
    background-color:blue;
}
#secondary-header{
    min-height: 100px ;
    background-color: #e579e6;
    /* margin-bottom: 10px; */
}
.sidebar, .center-main{
    
    height: 400px;
    background-color:#abcfe7;
    float: left;
    
}
.row{
    margin: 0 -10px;
}
.sidebar{
    width: calc(25% - 20px);
    margin: 20px 10px;
    
}
.center-main{
   width:calc(50% - 20px);
   margin: 20px 10px;
   
   
}


footer{
    height: 40px;
    background-color:#8b00ff;
    margin-bottom: 20px;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}


/* Validator */
<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="CSS Valido!" />
    </a>
</p>
       